<main class="page">
  <app-header
    [title]="'players.title' | translate"
    [subtitle]="'players.subtitle' | translate"
    [showBackButton]="true"
  ></app-header>

  <app-card>
    <form (ngSubmit)="addPlayer()">
      <label class="field">
        <span>{{'players.name' | translate}}</span>
        <input type="text" [(ngModel)]="name" name="playerName" required />
        <app-button buttonClass="" type="submit">{{'players.add' | translate}}</app-button>
      </label>
    </form>
  </app-card>

  @if (game.players.length) {
    <app-card>
      @for (player of game.players; track player) {
        <div class="list-row">
          @if(editingId !== player.id){
            <div class="row-content">
              <strong>{{ player.name }}</strong>
            </div>
          } @else {
            <input
              type="text"
              [(ngModel)]="editName"
              name="editName-{{ player.id }}"
              required
            />
          }
          <div class="row-actions">
            @if(editingId !== player.id) {
              <app-button buttonClass="secondary" (click)="startEdit(player)" (keydown)="startEdit(player)">{{'players.edit' | translate}}</app-button>
              <app-button buttonClass="" (click)="remove(player.id)" (keydown)="remove(player.id)">{{'players.remove' | translate}}</app-button>
            } @else {
              <app-button buttonClass="" (click)="saveEdit(player.id)" (keydown)="saveEdit(player.id)">{{'players.save' | translate}}</app-button>
              <app-button buttonClass="secondary" (click)="cancelEdit()" (keydown)="cancelEdit()">{{'players.cancel' | translate}}</app-button>
            }
          </div>
        </div>
      }
    </app-card>
  } @else {
    <app-card>
    <p class="muted">{{'players.empty' | translate}}</p>
    </app-card>
  }

</main>
